@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
* {
  transition: all 0.3s ease-out;
}

.header {
    width: 100%;
    height: 3rem;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 50px;
    margin: 0;
    align-items: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(Images/cbg.jpeg);
  width: 100%;
  text-align: center;
}


/* ============ NAV ============*/

nav{
    margin: 0;
}

.nav-text{
    color: #fff;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.2em;
}

nav ul{
    margin: 1em;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}


nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: #FFF;
}
nav a:hover,
nav a:focus {
    color: skyblue;
}

@media (min-width: 80rem) {
    nav {
        float: right;
    }
}

/* ============ SECTIONS ============*/

section {
    width: 100%;
    height: 70vh;
    margin: 0;
}

.about {
  color: #fff;
  text-align: center;
}


.p{
  font-size: 20px;
}


@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.container {
  display: flex;
  margin: 1em;
  justify-content: center;
  height: 100vh;
  font-family: 'Baloo Paaji 2', cursive;
}

.card-holder {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  background-color: #222831;
  height: 30rem;
  width: 17em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 1em;
}

.card:hover {
  width: 18em;
  height: 31em;
   box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
    box-shadow: 0 20px 50px rgba(255, 0, 0, 0.7);
}

.card__image:hover {
  width: 180px;
  height: 180px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-icons li {
  display: inline-block;
  margin: 0.5em;
  position: relative;
  font-size: 1em;
  justify-content: center;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}


.linkedin {
    width: 45px;
}

.linkedin:hover {
    border-radius: 50px;
    border-style: solid;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 1px, rgb(31, 193, 27) 0px 0px 0px 3px, rgb(255, 217, 19) 0px 0px 0px 6px, rgb(255, 156, 85) 0px 0px 0px 9px, rgb(255, 85, 85) 0px 0px 0px 12px;
    color: #58afd1;
    -webkit-transition: color 0.5s 0.0833333333s;
    transition: color 0.5s 0.0833333333s;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px #55d7dc;
}

/* LOGO */


.title {
	font-family: 'Cabin Sketch', cursive;
    text-align: center;
	color: #FFF;
	display: flex;
    flex-direction: column;
    float: left;
    margin: .5em;
    margin-left: 1em;
	height: 2vh;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media0.giphy.com/media/3otO6NFBIAFg2vPZuM/giphy.gif?cid=ecf05e47mi4exl9yfjnmu4wlc0yn81rgvyhqpdbcnskm41xk&rid=giphy.gif&ct=g);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 1;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

.home-page-icon {
    text-decoration: none;
}


section {
  margin-top: 5em;
}


/* Loader Animation */
.spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}