body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslategray;
  margin: 0;
}

.main-header{
    float: right;
}

.logo{
    float: left;
    display: inline-block;
    margin: 2em;
    padding: 14px 16px;
    color: white;
}

.navbar {
  overflow: hidden;
  justify-content: right;
  display: inline-block;
  margin: 2em
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
    background-color: gray;
}

/* ============ SECTIONS ============*/

.header-section{
    margin: 0;
    height: 8em;
}
.top-section{
    height: 25em;
    margin: 1em;
    background-color: white;
}

.top-mid-section{
    height: 25em;
    margin: 1em;
    background-color: white;
}

.mid-section{
    height: 25em;
    margin: 1em;
    background-color: white;
}