body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: url("Images/background-image4.png");
    font-size: large;
  }
  
  .main-header{
    float: right;
}

.logo{
    float: left;
    display: inline-block;
    margin: 2em;
    padding: 14px 16px;
    color: white;
}

.navbar {
  overflow: hidden;
  justify-content: right;
  display: inline-block;
  margin: 2em
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
    background-color: gray;
}

  /* ============ SECTIONS ============*/
  
  .header-section{
      margin: 0;
      height: 8em;
  }
  .top-section{
      width: 100%;
      height: 70vh;
      background-color: transparent;
  }
  
  .section-title {
      margin-left: .5em;
  }
  
  .card {
    transition: 0.3s;
    background: rgb(63, 57, 57);
    margin: .5em .5em;
    transition: width .5s, height .5s;
}

.card-text {
    font-size: xx-large;
}

.genre-service-text {
    color: black;
    font-weight: bold;
}

.image {
    width: 45%;
    height: 100%;
}

.video {
    width: 50vw;
    height: 99.5%;
}

.image-video {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
}

.image-video > div {
    text-align: center;
  }

.genre-service {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    text-align: center;
}

.genre-container {
    width: 50%;
}

.genre-card {
    background-color: transparent;
    width: 50%;
    text-align: center;
    margin: auto;
}

.service-container {
    width: 50%;
}

.service-card {
    background-color: transparent;
    width: 50%;
    text-align: center;
    margin: auto;
}

.description > *{
    width: 75%;
    margin: auto;
}

.cast > *{
    width: 75%;
    margin: auto;
}