* {
  transition: all 0.3s ease-out;
}

header {
    margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(Images/bgimg.png);
}

/* ============ Buttons ===========*/

.button {
}

.search {
    border: 1px solid #fff;
    border-radius: 5px;
    height: 15px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background: transparent;
}

.search-icon {
  position: relative;
  left: 25px;
  top: 3px;
}

.search:hover, .search:focus {
  border: 1px solid black;
  background-color: white;
}

/* ============ NAV ============*/

nav ul{
    margin: 2em;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}


nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: #FFF;
}
nav a:hover,
nav a:focus {
    color: skyblue;
}

@media (min-width: 80rem) {
    .logo {
        float: left;
        
    }
    nav {
        float: right;
    }
}

  /* ============ SECTIONS ============*/
  
  .header-section{
      margin: 0;
      height: 8em;
  }
  .top-section{
      width: 100%;
      height: 70vh;
      background-color: transparent;
  }
  
  /*
  .mid-section{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  */
  
  .section-title {
      margin-left: .5em;
  }
  


    .desc-cast-container-card {
      background-color: rgb(63, 57, 57);
      color: #ffffff;
      width: 40vw;
      height: 100%;
    }

  .description-page-text {
      font-size: 1.75em;
  }

  .description-header, .cast-header{
    color: white;
  }
  
.genre-text{
  font-size: 1.75em;
  position: relative;
  left: 40%;
}

  .genre-services-container-card {
    padding: 2px 16px 10px;
    background-color: transparent;
    color: #000000;
    height: 100%;
    width: 125%;
    margin-left: 122%;
    font-weight: bold;
}


.text-card {
  background-color: rgb(54, 37, 8);
}

.image {
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    width:60%;
    height:55%;
}

.under-image {
  margin-left: 30%;
  color: white;
}

.card {
  transition: 0.3s;
  background: none;
  margin: .5em .5em;
  transition: width .5s, height .5s;
  width: 35%;
}

/* Split window into 2 columns.*/
.left-column {
    float: left;
    width: 34%;
  }

  .right-column {
    float: left;
    width: 66%;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  width: 100%;
  position: absolute;
  height: 80em;
}

.cast-area {
  width: 100%;
  height: 100%;
}

.mid-section {
  width: 100%;
  height: 50vh;
}

.cast {
  width: 100%;
  height: 100%;
}

.cast-section {
  width: 100%;
  height: 30%;
  display: flex;
  position: relative;
  left: -2%;
}

.cast-imgs {
  width: 100%;
  position: relative;
  left: .5%;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 2em;
}

.cast-name {
  position: relative;
  right: 1em;
  height: 100%;
  width: 100px;
  margin-right: 2.1em;
  margin-left: 1em;
  text-align: center;
  margin-top: 0;
}

.actor-names {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}